body {
	background: #FFFFFF url(background.jpg) repeat-x scroll 0 0;
	color: #000000;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
}

p,font,th,td {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
}

input,textarea,select,button {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	color: #000000;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

a,a:hover,a:active,a:visited {
	color: #363988;
	font-weight: bold;
	text-decoration: underline;
}

#container {
	margin-top: 0;
	position: absolute;
}

#header {
	margin-bottom: 0;
	width: 100%;
}

#banner {
	height: 175px;
	left: 20px;
	position: absolute;
	top: 20px;
}

#logo {
	display: none;
}

#logo h1 {
	color: #FADD1D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
}

#content {
	color: #000000;
	left: 20px;
	padding-bottom: 30px;
	position: absolute;
	top: 209px;
	width: 705px;
}

#content h1#title {
	display: none;
}

#contentbody {
	background-color: #FFFFFF;
	border: 1px solid #363988;
	color: #000000;
	padding: 3px;
}

#contentbody p {
	margin-top: 0;
}

#extradiv1,#extradiv2 {
	text-transform: none;
}

#menu {
	left: 20px;
	top: 180px;
	width: 707px;
}

#menu ul {
	margin: 0 2px 0 0;
	padding: 0;
	width: 99px;
}

#menu ul ul li,#menu h2 {
	/*-x-system-font: none;*/
	background-color: #FFFFFF;
	border: 2px solid #363988;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 16px;
}

#menu h2 a {
	font-weight: bold;
}

#menu ul ul li {
	border-top: medium none;
}

#menu h2 {
	background-color: #FFFFFF;
	color: #363988;
}

#menu a {
	/*-x-system-font: none;*/
	color: #363988;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 16px;
	text-decoration: none;
	width: 100%;
}

#menu a:hover {
	color: #000000;
}

#menu li a.menuunpublished,#menu li a.menuunpublished:hover,#menu li a.menuunpublished:visited,#menu li a.menuunpublished:active
	{
	color: red;
}

#menu li a.hide,#menu li a.hide:hover,#menu li a.hide:visited,#menu li a.hide:active
	{
	color: green;
}

#menu #activecategory {
	text-transform: none;
}

#menu #activelink {
	text-transform: none;
}

/* JQYERY TESTING ONLY */
div.out {
width:40%;
height:120px;
margin:0 15px;
background-color:#D6EDFC;
float:left;
}
div.in {
width:60%;
height:60%;
background-color:#FFCC00;
margin:10px auto;
}
