body {
    background: none repeat scroll 0 0 #404146;
    font: 13px/20px "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "ChunkFiveRegular";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("fonts/Chunkfive-webfont.woff") format("woff"), url("fonts/Chunkfive-webfont.ttf") format("truetype"), url("fonts/Chunkfive-webfont.svg#webfont4CzPTNtF") format("svg");
}
img {
    border: 0 none;
}
ul, li, blockquote {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-weight: normal;
    margin: 15px 0 5px;
    padding: 0;
}
h1 + p, h2 + p, h3 + p {
    margin-top: 0;
}
a {
    color: #404146;
}
a:hover {
    color: #6B6D75;
}
header, footer, section, aside, cite {
    display: block;
}
#page {
    background: url("img/bg.png") repeat-x scroll 0 0 #BFBFC0;
    padding-bottom: 30px;
}
header {
    height: 60px;
    margin: 0 auto;
    position: relative;
    width: 960px;
    z-index: 100;
}
#logo {
    background: url("img/logo.jpg") no-repeat scroll 0 0 transparent;
    height: 59px;
    left: 0;
    outline: medium none;
    position: absolute;
    text-indent: -9999px;
    top: 30px;
    width: 199px;
}
#logo:hover {
    background: url("img/logo.jpg") no-repeat scroll 0 -59px transparent;
}
nav {
    position: absolute;
    right: 0;
    top: 18px;
}
header nav ul li {
    display: inline;
    margin: 0 24px;
}
header nav a {
    color: #404146;
    font: 22px "ChunkFiveRegular","Times New Roman",serif;
    padding: 16px 0 0;
    text-decoration: none;
}
header nav a:hover {
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-shadow: -1px -1px 1px #000000;
}
.active {
    border-top: 2px solid #404146;
}
.active:hover {
    border-top: 2px solid #FFFFFF;
}
#main {
    margin: 0 auto;
    width: 960px;
}
#feature-box {
    background: url("img/bg-feature-box.jpg") no-repeat scroll 100px 0 transparent;
    height: 314px;
    position: relative;
}
#featured-item {
    background: url("img/shadow-bottom.png") no-repeat scroll left bottom transparent;
    bottom: 20px;
    min-height: 100px;
    position: absolute;
    width: 400px;
}
#home-ss {
    left: 75px;
    position: absolute;
    top: -155px;
}
#logo-xbird {
    left: 85px;
    position: absolute;
    top: -160px;
}
#logo-circle {
    left: 85px;
    position: absolute;
    top: -160px;
}
#feature-box-content {
    float: right;
    margin-top: 30px;
    width: 500px;
}
#feature-box-content h1 {
    font-size: 26px;
    line-height: 34px;
    margin: 0;
    padding: 0;
}
.button-learn-more {
    background: url("img/button-learn-more.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    outline: medium none;
    text-indent: -9999px;
    width: 148px;
}
.button-learn-more:hover {
    background-position: 0 -48px;
}
.button-contact {
    background: url("img/button-contact.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    outline: medium none;
    text-indent: -9999px;
    width: 148px;
}
.button-contact:hover {
    background-position: 0 -48px;
}
#main h2 {
    color: #404146;
    font-family: 'ChunkFiveRegular','times new roman',serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.col {
    float: left;
    margin-right: 30px;
    width: 300px;
}
.col + .last-child {
    margin-right: 0;
}
.recent-project li {
    background: -moz-linear-gradient(center top , #6B6D75, #404146) repeat scroll 0 0 transparent;
    border: 1px solid #404146;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: 0 0 20px;
    padding: 15px 5px 0 0;
}
.recent-project li:hover {
    box-shadow: 0 0 5px #000000;
}
.recent-project img {
    border: 3px solid #DBDADA;
    float: left;
    margin: 0 10px 25px;
}
.recent-project h3 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
.recent-project p {
    margin: 5px 0;
}
.recent-project a {
    color: #FFFFFF;
}
.recent-project li:hover a {
    color: #83D9DA;
}
.recent-project li a:hover {
    color: #FFDD99;
}
p.more-info {
    float: right;
    margin-top: 0;
    padding-right: 10px;
}
#sidebar #download-resume {
    clear: both;
    padding-top: 10px;
}
#resume-dl li {
    float: left;
    margin-left: 10px;
}
#resume-dl li:first-child {
    margin-left: 0;
}
#testimonials-page, #contact {
    float: left;
    margin-right: 30px;
    width: 630px;
}
#testimonials-page li {
    margin-bottom: 20px;
}
#resume {
    float: left;
    width: 600px;
}
#resume h3 {
    margin: 0;
    padding: 0;
}
#sidebar {
    float: right;
    width: 300px;
}
#contact-sidebar form {
    width: 275px;
}
#contact-sidebar #contact-form textarea {
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    height: 200px;
    padding: 5px;
    width: 275px;
}
#resume + #sidebar li {
    list-style-type: disc;
    margin: 0 0 10px 15px;
}
#contact-form {
    width: 400px;
}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="url"] {
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    width: 100%;
}
#contact textarea {
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    height: 300px;
    padding: 5px;
    width: 100%;
}
#contact label {
    display: block;
    margin-top: 10px;
}
#contact input[type="submit"] {
    clear: both;
    line-height: 12px;
    margin-top: 20px;
    padding: 8px;
}
.error-msg {
    color: red;
    display: block;
    font-weight: bold;
}
.portfolio-project {
    float: left;
    margin-right: 30px;
    min-height: 600px;
    width: 450px;
}
.portfolio-project img {
    border: 5px solid #9B9B9B;
}
.portfolio-project:nth-child(2n+1) {
    float: right;
    margin: 0 0 0 3px;
}
.portfolio-project li {
    list-style-type: disc;
    margin-left: 15px;
}
footer {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 940px;
}
footer a {
    color: #FFFFFF;
}
footer a:hover {
    color: #CCCCCC;
}
#copyright {
    font-size: 12px;
}
#icons-social {
    position: absolute;
    right: 0;
    top: 24px;
}
#icons-social li {
    float: right;
}
#icons-social a {
    background: url("images/social.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    margin-left: 5px;
    outline: medium none;
    text-indent: -9999px;
    width: 16px;
}
a#social-tumblr {
    background-position: 0 -80px;
}
a#social-linkedin {
    background-position: 0 -120px;
}
a#social-facebook {
    background-position: 0 -40px;
}
a#social-twitter {
    background-position: 0 0;
}
a#social-delicious {
    background-position: 0 -160px;
}
a#social-addthis {
    background: none repeat scroll 0 0 transparent;
    width: 14px;
}
#stats {
    display: none;
}
.clear {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.note {
    font-size: 10px;
}
.button {
    background: -moz-linear-gradient(center top , #DBDADA, #BFBFBF) repeat scroll 0 0 transparent;
    border: 1px solid #9B9B9B;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    text-decoration: none;
}
.button:hover {
    background: none repeat scroll 0 0 #DBDADA;
    box-shadow: 0 1px 0 #9B9B9B;
    color: #000000;
}
li > .button {
    line-height: 30px;
}
